body {
    margin: 0;
    padding: 0;
 }

 .homeHeader {
    text-align: center;
    max-height: 100%;
    width: max-content;
    margin: 0;
    background-image: url(../assets/images/homePageHeader.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100%;
 } 

 @font-face {
  font-family: 'Porter-sans-inline-block';
  src: url(../assets/fonts/porter-sans-inline-block-webfont.woff) format('woff'); 
 }

 .bottomLeft h1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #D54A2F;
    margin-bottom: 50px;
    font-family:'Porter-sans-inline-block', sans-serif ;
 } 

 .bottomLeft h3 {
    position: absolute ;
    bottom: 8px;
    left: 16px;
    margin-bottom: 20px;

    color:#4882A7;
    font-family:'Poppins', sans-serif ;
 }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px 20px; 
    border-radius: 15px; 
    text-align: center;
    font-family:'Poppins', sans-serif;
    
  }
  

  .logo img {
   margin-right: auto;
   width: 100%;
   height: 50px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333; 
    padding: 10px 20px;
  }
  
  .navbar ul li a:hover {
    background-color: #eee; 
  }

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input[type='text'] {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.searchBar button {
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: black;
    cursor: pointer;
}

.searchBar button:hover {
    background-color: #555;
}
  


.flexContainer {
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 925px;
    background-color: #4882A7;
    color: #eee;
}


.flexItem1text {
    flex: 50%;
    flex-grow: 1;
    text-align: center;
    display: block;
    margin-right: 400px; 
    margin-top: 0px;
    margin-left: 180px;
}

.flexItem1text h3 {
    color: #E87E5B;
    font-size: 20px;
    text-align: center;
}

.flexItem1text h1 {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
}

.flexItem1 img {
    width: 100%;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexItem1text .red-button {
    width: 270px; 
    height: 70px; 
    background-color: red; 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }
  
  .red-button:hover {
    background-color: darkred
  }


  .flexContainer2 {
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: #ffffff;
    color: black;
}

.flexItem2text {
    flex: 50%;
    flex-grow: 1;
    display: block;
    margin-right: 400px; 
    margin-top: 0px;
    margin-left: 180px;
}

.flexItem2text h3 {
    color: #D54A2F;
    font-size: 20px;
    text-align: center;
}

.flexItem2text h1 {
    font-size: 50px;
    letter-spacing: 1px;
    color: #4882A7;
}

.flexItem2 img {
    width: 100%;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexContainer3 {
    display: flex;
    flex-direction: column;
    background-color: #4882A7;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family:'Poppins', sans-serif ;
}

.flexItem3Imgs {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 5px;
}

.flexItem3 {
    text-align: center;
    color: #eee;
}

.flexItem3 h1 {
    font-size: 50px;

}

.flexItem3 h2 {
    font-size: 20px;
    color: #E87E5B;
    margin-top: 15px;
}

.imageWrap {
    width: 20%;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #eee;
    font-family:'Poppins', sans-serif ;
    border-radius: 20px;
}

.imageWrap img {
    width: auto;
    height: 100%;
    padding-top: 20px ;
    padding-bottom: 20px ;
    margin-left: 150px;
}

.imageWrap h3 {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 150px;
}



.imageWrap p {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 150px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 130px;
  margin-left: 700px;
  margin-bottom: 20px;
}

.flexContainer3 .red-button2 {
    width: 270px; 
    height: 70px; 
    background-color: red; 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
    margin-top: 150px;
  }
  
  .red-button2:hover {
    background-color: darkred
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .box1Logo {
    text-align: left; 
    margin-left: 150px;
    margin-top: 15px;
  }
  
  .box1Logo img {
    display: block; 
    max-width: 250px;
    width: 100%;
    margin-right: 20px;
  }
  
  .box1Logo h2 {
    margin-top: 10px; 
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
  }

  .box2Company {
    font-family: 'Poppins', sans-serif; 
    list-style-type: none;
    text-align: center;
  }

  .box2Company ul {
    display: inline-block;
    padding-left: 0;
  }

  .box2Company h2 {
    display: block;
    font-size: 20px;
  }

  .box2Company li {
    list-style-type: none;
  }
  

  .box2Company ul li a {
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
  }

  .box3Socials {
    text-align: center;
    margin-right: 150px;
  }

  .box3Socials h2 {
    margin-right: 350px;
  }
 
  .socialImgs {
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }

  .socialImgs img {
    max-width: 80px;
    height: auto;
    margin: 0 10px;
  }




  .mars {
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #4882A7;
    color: #eee;
}

.marsText1 {
    flex: 50%;
    flex-grow: 1;
    text-align: left;
    display: block;
    margin-right: 350px; 
    margin-top: 0px;
    margin-left: 180px;
}


.marsText1 h1 {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: left;
}

.marsImg img {
    width: 100%;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.marsImg {
    position: relative;
}

.marsOverlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
  }
  
  .marsOverlay p {
    color: white; 
    font-size: 18px;
  }
  
  .marsImg:hover .marsOverlay {
    opacity: 1; 
  }

.marsButton .red-button {
    width: 270px; 
    height: 70px; 
    background-color: red; 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }
  
  .red-button:hover {
    background-color: darkred
  }

  .marsButton .purple-button {
    width: 150px; 
    height: 70px; 
    background-color: rgb(55, 16, 109); 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }

  .purple-button:hover {
    background-color:rgb(87, 38, 156) ;
  }


  
  .neptune {
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #4882A7;
    color: #eee;
}

.neptuneText1 {
    flex: 50%;
    flex-grow: 1;
    text-align: left;
    display: block;
    margin-right: 350px; 
    margin-top: 0px;
    margin-left: 180px;
}


.neptuneText1 h1 {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: left;
}

.neptuneImg img {
    width: 100%;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.neptuneImg {
    position: relative;
}

.neptuneOverlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
  }
  
  .neptuneOverlay p {
    color: white; 
    font-size: 18px;
  }
  
  .neptuneImg:hover .neptuneOverlay {
    opacity: 1; 
  }


.neptuneButton .red-button {
    width: 270px; 
    height: 70px; 
    background-color: red; 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }
  
  .red-button:hover {
    background-color: darkred
  }

  .neptuneButton .purple-button {
    width: 150px; 
    height: 70px; 
    background-color: rgb(55, 16, 109); 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }

  .purple-button:hover {
    background-color:rgb(87, 38, 156) ;
  }



  
.jupiter {
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #4882A7;
    color: #eee;
}

.jupiterText1 {
    flex: 50%;
    flex-grow: 1;
    text-align: left;
    display: block;
    margin-right: 350px; 
    margin-top: 0px;
    margin-left: 180px;
}


.jupiterText1 h1 {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: left;
}

.jupiterImg img {
    width: 100%;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jupiterImg {
    position: relative;
}

.jupiterOverlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
  }
  
  .jupiterOverlay p {
    color: white; 
    font-size: 18px;
  }
  
  .jupiterImg:hover .jupiterOverlay {
    opacity: 1; 
  }


.jupiterButton .red-button {
    width: 270px; 
    height: 70px; 
    background-color: red; 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }
  
  .red-button:hover {
    background-color: darkred
  }

  .jupiterButton .purple-button {
    width: 150px; 
    height: 70px; 
    background-color: rgb(55, 16, 109); 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }

  .purple-button:hover {
    background-color:rgb(87, 38, 156) ;
  }




.saturn {
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #4882A7;
    color: #eee;
}

.saturnText1 {
    flex: 50%;
    flex-grow: 1;
    text-align: left;
    display: block;
    margin-right: 350px; 
    margin-top: 0px;
    margin-left: 180px;
}


.saturnText1 h1 {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: left;
}

.saturnImg img {
    width: 100%;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.saturnImg {
    position: relative;
}

.saturnOverlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
  }
  
  .saturnOverlay p {
    color: white; 
    font-size: 25px;
  }
  
  .saturnImg:hover .saturnOverlay {
    opacity: 1; 
  }


.saturnButton .red-button {
    width: 270px; 
    height: 70px; 
    background-color: red; 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }
  
  .red-button:hover {
    background-color: darkred
  }

  .saturnButton .purple-button {
    width: 150px; 
    height: 70px; 
    background-color: rgb(55, 16, 109); 
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 20px; 
    border: none; 
    border-radius: 12px; 
  }

  .purple-button:hover {
    background-color:rgb(87, 38, 156) ;
  }

.SF {
    color: #eee;
}


